.names{
  color: red;
  text-shadow: black 2px 2px;
}

ul{
  color: blue;
}

.sport-img{
  width: 150px;
  height: 150px;
}

.greetingheading{
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
  text-shadow: black 2px 2px;
}